.title {
  // padding-left: 4rem;
  font-weight: 700;
  font-size: 28px;
  line-height: 58px;
  color: #333333;
}

.classes {
  padding-left: 3rem;
}

.button {
  justify-content: space-between;
  font-size: 16px;
  height: 50px;
  --background: white;
  --border-style: solid;
  --color: black;
  --border-radius: 8px;
  --border-color: #2799d1;
  --border-width: 1px;
  margin: 10px;
  width: 210px;
}

.endBtn {
  position: fixed;
  bottom: 20px;
  /* Adjust the bottom margin as needed */
  right: 50px;
  /* Adjust the right margin as needed */
  z-index: 999;
}

.end {
  text-align: end;
  width: 210px;
  height: 50px;
  --background: #e20031;
  --border-color: #e20031;
  font-size: 16px;
  border-radius: 8px;
}

.spacing {
  height: 1.5rem;
}

/* Hide the background and default text */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the overlay color and opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure the overlay is above other content */
}
