// .statement{

//   padding-left: 15rem;
//   padding-right: 15rem;
 
// }

.title {
  padding-left: 4rem;
  font-weight: 700;
  font-size: 28px;
  line-height: 58px;
  color: #333333;
 
}

.classes{
   
  padding-left: 3rem;
}
.button{
  
  justify-content: space-between;
  font-size: 16px;
  height: 50px;
  --background: white;
  --border-style: solid;
  --color: black;
  --border-radius: 8px;
  --border-color: #2799d1;
  --border-width: 1px;
  margin: 10px;
  width: 210px;
  
}

.endBtn {
  
  position: fixed;
  right: 18px;
  bottom: 24px;
  padding: 4rem;
  padding-left:rem; 
}

.end {
  
  text-align: end;
  width: 210px;
  height: 50px;
  --background: #e20031;
  --border-color: #e20031;
  font-size: 16px;
  border-radius: 8px;
  
}

