.title {
  // padding-left: 4rem;
  font-weight: 700;
  font-size: 28px;
  line-height: 58px;
  color: #333333;
}

.classes {
  padding-left: 3rem;
}

.button {
  justify-content: space-between;
  font-size: 16px;
  height: 50px;
  --background: white;
  --border-style: solid;
  --color: black;
  --border-radius: 8px;
  --border-color: #2799d1;
  --border-width: 1px;
  margin: 10px;
  width: 210px;
}

.endBtn {
  position: fixed;
  bottom: 20px;
  /* Adjust the bottom margin as needed */
  right: 50px;
  /* Adjust the right margin as needed */
  z-index: 999;
}

.end {
  text-align: end;
  width: 210px;
  height: 50px;
  --background: #e20031;
  --border-color: #e20031;
  font-size: 16px;
  border-radius: 8px;
}

.spacing {
  height: 1.5rem;
}

/* Hide the background and default text */
.ionloading {
  --background: transparent;
  --background-rgb: transparent;
  --inner-border-color: transparent;
  --inner-background: transparent;
}

/* Customize the loading spinner */
.ionloading::part(spinner) {
  font-size: 440px;
  /* Adjust the size of the icon */
  color: #007aff;
  /* Change the color of the icon */
  --background: transparent;
  --background-rgb: transparent;
  --inner-border-color: transparent;
  --inner-background: transparent;
}
