.logo {
  margin-left: auto;
  margin-right: auto;
  width: 192px;
  height: 53px;
  margin-top: 5rem;
}

.container {
  display: flex;
  margin-top: 10rem;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.orderDetails {

  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  color: #333333;
}

.btn {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 50px;
  margin-top: 24px;
  background-color: #2799D1;
  border-radius: 8px;
}

.focus {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 12px;
  outline: 0px;
  width: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}