.reason {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  display: flex;
  align-items: center;
}
.reason p {
  padding: 4px 0px;
  top: 0;
}
.phaseTime {
  font-size: 16px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 12px;
  color: rgb(39, 153, 209);
  background-color: rgb(39, 153, 209);
  outline: none;
}
.incidentdowntime {
  font-size: 16px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 12px;
  color: #e20031;
  background-color: #e20031;
  outline: none;
}
.planneddowntime {
  color: #ffa901;
  background-color: #ffa901;
}
.endTime {
  color: rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);
}
