.container {
  display: flex;
  width: 100%;
  padding: 0px 24px;
}

.idle {
  font-size: 18px;
  font-weight: 700;
  height: 39px;
  width: 14%;
  padding-left: 4px;
  display: flex;
  align-items: center;
}

.working {
  font-size: 18px;
  font-weight: 700;
  height: 39px;
  width: 44%;
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.boxidle {
  height: 39px;
  width: 14%;
  border-radius: 5px;
  margin: 3px;
}

.boxworking {
  height: 39px;
  width: 44%;
  border-radius: 5px;
  margin: 3px;

  /* Pseudo-class to target the first child of the boxworking elements */
  :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  /* Pseudo-class to target the last child of the boxworking elements */
  :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
